.heading {
  font-family: Poppins, sans-serif;
  line-height: 150%;
  font-weight: 600;

  &--1 {
    font-size: 64px;
    line-height: 68px;
    color: $lightTextColor;
  }

  &--2 {
    font-size: 52px;
  }

  &--3 {
    font-size: 32px;
  }
}

.subHeading {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 150%;

  &--light {
    color: $lightTextColor;
  }
}

.sub-text {
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
}

.button {
  font-family: Poppins, sans-serif;
  color: $lightTextColor;
}
