$screenDesktop: 1600px;
$screenNote: 1146px;
$screenTablet: 965px;
$screenMob: 540px;

$headerBackgroundColor: #2c2c2c;
$bodyBackgroundColor: #f2f9ff;
$bodyLightBackgroundColor: #fff;
$lightTextColor: #fff;
$blueMainColor: #2060f6;
$blueFormColor: #144ed5;
$lightButtonColor: #fff;

$navLinkMargin: 64px;
$navLinkPadding: 8px;
$logoMargin: 78px - $navLinkMargin;

$navUnderlineHeight: 2px;

$carrouselArrowSide: 32px;

$skillImageSide: 166px;
